# Configuração de Modelo (openai ou groq)
LLM_PROVIDER=openai

# Chaves de API (Configure ao menos uma das chaves abaixo)
OPENAI_API_KEY=sk-sua-chave-openai-aqui
GROQ_API_KEY=gsk_sua-chave-groq-aqui

# Modelos Padrão
OPENAI_MODEL=gpt-4o-mini
GROQ_MODEL=llama-3.3-70b-versatile

# Porta da API
PORT=8000
HOST=0.0.0.0
